/*
 
 ##          ###    ##    ##  #######  ##     ## ######## 
 ##         ## ##    ##  ##  ##     ## ##     ##    ##    
 ##        ##   ##    ####   ##     ## ##     ##    ##    
 ##       ##     ##    ##    ##     ## ##     ##    ##    
 ##       #########    ##    ##     ## ##     ##    ##    
 ##       ##     ##    ##    ##     ## ##     ##    ##    
 ######## ##     ##    ##     #######   #######     ##    
 
*/

$desktop-min-width: 992px;
$tablet-min-width: 700px;

$angled-corner: 15px;
@mixin angled-corners {
    clip-path: polygon(
        $angled-corner 0,
        calc(100% - #{$angled-corner}) 0,
        100% $angled-corner,
        100% calc(100% - #{$angled-corner}),
        calc(100% - #{$angled-corner}) 100%,
        $angled-corner 100%,
        0 calc(100% - #{$angled-corner}),
        0 $angled-corner
    );
}

$battle-column-width: 60%;
$column-width: (100% - $battle-column-width) / 2;
$battle-column-border-width: 2px;

$battle-controller-scene-height: 68%;

// Health bar
$battle-health-bar-height: 12px;
$battle-health-bar-roundness: 15px;

/*
 
 ######## ##    ## ########   #######   ######   ########     ###    ########  ##     ## ##    ## 
    ##     ##  ##  ##     ## ##     ## ##    ##  ##     ##   ## ##   ##     ## ##     ##  ##  ##  
    ##      ####   ##     ## ##     ## ##        ##     ##  ##   ##  ##     ## ##     ##   ####   
    ##       ##    ########  ##     ## ##   #### ########  ##     ## ########  #########    ##    
    ##       ##    ##        ##     ## ##    ##  ##   ##   ######### ##        ##     ##    ##    
    ##       ##    ##        ##     ## ##    ##  ##    ##  ##     ## ##        ##     ##    ##    
    ##       ##    ##         #######   ######   ##     ## ##     ## ##        ##     ##    ##    
 
*/
@font-face {
    font-family: "pkmn_rbygsc";
    src: url("/assets/fonts/PKMN\ RBYGSC/pkmn_rbygsc-webfont.woff2") format("woff2"),
        url("/assets/fonts/PKMN\ RBYGSC/pkmn_rbygsc-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'pokmon_dp_proregular';
    src: url('/assets/fonts/PKMN DP/pokemon-dp-pro-webfont.woff2') format('woff2'),
         url('/assets/fonts/PKMN DP/pokemon-dp-pro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*
 
 #### ##    ## ########  ##     ## ########  ######  
  ##  ###   ## ##     ## ##     ##    ##    ##    ## 
  ##  ####  ## ##     ## ##     ##    ##    ##       
  ##  ## ## ## ########  ##     ##    ##     ######  
  ##  ##  #### ##        ##     ##    ##          ## 
  ##  ##   ### ##        ##     ##    ##    ##    ## 
 #### ##    ## ##         #######     ##     ######  
 
*/

@mixin grey-gradient-button {
    background: rgb(226, 226, 226);
    background: linear-gradient(0deg, #e2e2e2 0%, #e2e2e2 43%, #eee 43%, #eee 57%, #fff 57%);
}

$battle-controller-button-width-percent: 48%;
@mixin battle-controller-button-width {
    width: $battle-controller-button-width-percent;
    margin: calc((50% - #{$battle-controller-button-width-percent}) / 2);
}

$chat-input-line-height: 1.5;

/*
 
    ###    ##    ## #### ##     ##    ###    ######## ####  #######  ##    ## 
   ## ##   ###   ##  ##  ###   ###   ## ##      ##     ##  ##     ## ###   ## 
  ##   ##  ####  ##  ##  #### ####  ##   ##     ##     ##  ##     ## ####  ## 
 ##     ## ## ## ##  ##  ## ### ## ##     ##    ##     ##  ##     ## ## ## ## 
 ######### ##  ####  ##  ##     ## #########    ##     ##  ##     ## ##  #### 
 ##     ## ##   ###  ##  ##     ## ##     ##    ##     ##  ##     ## ##   ### 
 ##     ## ##    ## #### ##     ## ##     ##    ##    ####  #######  ##    ## 
 
*/

// Infinite slide hack
@mixin infinite-slide {
    animation: slide 10s linear infinite;
}

@keyframes slide {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 400px;
    }
}
