/*
 
 ##          ###    ##    ##  #######  ##     ## ######## 
 ##         ## ##    ##  ##  ##     ## ##     ##    ##    
 ##        ##   ##    ####   ##     ## ##     ##    ##    
 ##       ##     ##    ##    ##     ## ##     ##    ##    
 ##       #########    ##    ##     ## ##     ##    ##    
 ##       ##     ##    ##    ##     ## ##     ##    ##    
 ######## ##     ##    ##     #######   #######     ##    
 
*/

$desktop-min-width: 992px;
$tablet-min-width: 700px;

// Angled Corners
$angled-corner: 15px;
@mixin angled-corners {
    clip-path: polygon(
        $angled-corner 0,
        calc(100% - #{$angled-corner}) 0,
        100% $angled-corner,
        100% calc(100% - #{$angled-corner}),
        calc(100% - #{$angled-corner}) 100%,
        $angled-corner 100%,
        0 calc(100% - #{$angled-corner}),
        0 $angled-corner
    );
}

// Banner Headers
@mixin header-banner {
    border: #1fa792 3px solid;
    padding: 4px 5px;
    border-inline: 3px;
    background-color: #001321;
}

$battle-column-width: 60%;
$column-width: (100% - $battle-column-width) / 2;
$battle-column-border-width: 2px;

$battle-controller-scene-height: 68%;

// Health bar
$battle-health-bar-height: 12px;
$battle-health-bar-roundness: 15px;

/*
 
 ######## ##    ## ########   #######   ######   ########     ###    ########  ##     ## ##    ## 
    ##     ##  ##  ##     ## ##     ## ##    ##  ##     ##   ## ##   ##     ## ##     ##  ##  ##  
    ##      ####   ##     ## ##     ## ##        ##     ##  ##   ##  ##     ## ##     ##   ####   
    ##       ##    ########  ##     ## ##   #### ########  ##     ## ########  #########    ##    
    ##       ##    ##        ##     ## ##    ##  ##   ##   ######### ##        ##     ##    ##    
    ##       ##    ##        ##     ## ##    ##  ##    ##  ##     ## ##        ##     ##    ##    
    ##       ##    ##         #######   ######   ##     ## ##     ## ##        ##     ##    ##    
 
*/
@font-face {
    font-family: "pkmn_rbygsc";
    src: url("/assets/fonts/PKMN\ RBYGSC/pkmn_rbygsc-webfont.woff2") format("woff2"),
        url("/assets/fonts/PKMN\ RBYGSC/pkmn_rbygsc-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "pokmon_dp_proregular";
    src: url("/assets/fonts/PKMN DP/pokemon-dp-pro-webfont.woff2") format("woff2"),
        url("/assets/fonts/PKMN DP/pokemon-dp-pro-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/*
 
 #### ##    ## ########  ##     ## ########  ######  
  ##  ###   ## ##     ## ##     ##    ##    ##    ## 
  ##  ####  ## ##     ## ##     ##    ##    ##       
  ##  ## ## ## ########  ##     ##    ##     ######  
  ##  ##  #### ##        ##     ##    ##          ## 
  ##  ##   ### ##        ##     ##    ##    ##    ## 
 #### ##    ## ##         #######     ##     ######  
 
*/

@mixin grey-gradient-button {
    background: rgb(226, 226, 226);
    background: linear-gradient(0deg, #e2e2e2 0%, #e2e2e2 43%, #eee 43%, #eee 57%, #fff 57%);
}

$battle-controller-button-width-percent: 48%;
@mixin battle-controller-button-width {
    width: $battle-controller-button-width-percent;
    margin: calc((50% - #{$battle-controller-button-width-percent}) / 2);
}

$chat-input-line-height: 1.5;

/*
 
    ###    ##    ## #### ##     ##    ###    ######## ####  #######  ##    ## 
   ## ##   ###   ##  ##  ###   ###   ## ##      ##     ##  ##     ## ###   ## 
  ##   ##  ####  ##  ##  #### ####  ##   ##     ##     ##  ##     ## ####  ## 
 ##     ## ## ## ##  ##  ## ### ## ##     ##    ##     ##  ##     ## ## ## ## 
 ######### ##  ####  ##  ##     ## #########    ##     ##  ##     ## ##  #### 
 ##     ## ##   ###  ##  ##     ## ##     ##    ##     ##  ##     ## ##   ### 
 ##     ## ##    ## #### ##     ## ##     ##    ##    ####  #######  ##    ## 
 
*/

// Infinite slide hack
@mixin infinite-slide {
    animation: slide 10s linear infinite;
}

@keyframes slide {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 400px;
    }
}

// Text Fade Pulse Effect
// Credit to: https://stackoverflow.com/questions/23985018/simple-css-animation-loop-fading-in-out-loading-text
$fade-speed: 3.3s;

@keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@mixin animate-flicker {
    -webkit-animation: flickerAnimation $fade-speed infinite;
    -moz-animation: flickerAnimation $fade-speed infinite;
    -o-animation: flickerAnimation $fade-speed infinite;
    animation: flickerAnimation $fade-speed infinite;
}

// Pokeball turn indicator animation
@mixin ball-turn {
    transition: transform 0.8s cubic-bezier(0.36, 0.07, 0.19, 0.97);
}

// Lightbulb Effect
@mixin light-up {
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 09px, #fff 0 2px 12px;
    animation: lightbulb 1.2s both;
}
@keyframes lightbulb {
    0% {
        background-color: #fff;
    }
    50% {
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.3) 2 -5px 15px 5px, inset #909090 5px -13px 25px, #fff 1px 1px 1px;
        // box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #909090 0 -1px 9px, #fff 0 0px 0;
    }
    100% {
        background-color: #fff;
    }
}
.light-flash {
    @include light-up;
}

// Monster sprites visceral feedback animations
// Monster hurt animation
// Credit to Sarah Drasner at https://codepen.io/sdras/pen/aOgMON
@mixin monster-shake {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
}
@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

// Monster debuff animation
@mixin monster-debuff {
    animation: debuff-flash 1.3s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    -webkit-filter: contrast(100%) brightness(100%) saturate(100%) hue-rotate(0deg);
    filter: contrast(100%) brightness(100%) saturate(100%) hue-rotate(0deg);
}
@keyframes debuff-flash {
    0% {
        -webkit-filter: contrast(100%) brightness(100%) saturate(100%) hue-rotate(0deg);
        filter: contrast(100%) brightness(100%) saturate(100%) hue-rotate(0deg);
    }
    50% {
        -webkit-filter: contrast(50%) brightness(60%) saturate(450%) hue-rotate(30deg);
        filter: contrast(50%) brightness(60%) saturate(450%) hue-rotate(30deg);
    }
    100% {
        -webkit-filter: contrast(100%) brightness(100%) saturate(100%) hue-rotate(0deg);
        filter: contrast(100%) brightness(100%) saturate(100%) hue-rotate(0deg);
    }
}

// Monster heal animation
@mixin monster-heal {
    animation: color-flash 1.3s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    -webkit-filter: saturate(100%);
    filter: saturate(100%);
}
@keyframes color-flash {
    0% {
        -webkit-filter: saturate(100%); /* Safari */
        filter: saturate(100%);
    }
    50% {
        -webkit-filter: saturate(350%); /* Safari */
        filter: saturate(350%);
    }
    100% {
        -webkit-filter: saturate(100%); /* Safari */
        filter: saturate(100%);
    }
}
