/*
 
 ##          ###    ##    ##  #######  ##     ## ######## 
 ##         ## ##    ##  ##  ##     ## ##     ##    ##    
 ##        ##   ##    ####   ##     ## ##     ##    ##    
 ##       ##     ##    ##    ##     ## ##     ##    ##    
 ##       #########    ##    ##     ## ##     ##    ##    
 ##       ##     ##    ##    ##     ## ##     ##    ##    
 ######## ##     ##    ##     #######   #######     ##    
 
*/

$desktop-min-width: 992px;
$tablet-min-width: 700px;

$battle-column-width: 60%;
$column-width: (100% - $battle-column-width) / 2;

// Infinite slide hack
@mixin infinite-slide {
    animation: slide 30s linear infinite;
}

@keyframes slide {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -400px -400px;
    }
  }
/*
 
 ######## ##    ## ########   #######   ######   ########     ###    ########  ##     ## ##    ## 
    ##     ##  ##  ##     ## ##     ## ##    ##  ##     ##   ## ##   ##     ## ##     ##  ##  ##  
    ##      ####   ##     ## ##     ## ##        ##     ##  ##   ##  ##     ## ##     ##   ####   
    ##       ##    ########  ##     ## ##   #### ########  ##     ## ########  #########    ##    
    ##       ##    ##        ##     ## ##    ##  ##   ##   ######### ##        ##     ##    ##    
    ##       ##    ##        ##     ## ##    ##  ##    ##  ##     ## ##        ##     ##    ##    
    ##       ##    ##         #######   ######   ##     ## ##     ## ##        ##     ##    ##    
 
*/
@font-face {
    font-family: 'pkmn_rbygsc';
    src: url('/assets/fonts/PKMN\ RBYGSC/pkmn_rbygsc-webfont.woff2') format('woff2'),
    url('/assets/fonts/PKMN\ RBYGSC/pkmn_rbygsc-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*
 
 ########     ###    ######## ######## ##       ######## 
 ##     ##   ## ##      ##       ##    ##       ##       
 ##     ##  ##   ##     ##       ##    ##       ##       
 ########  ##     ##    ##       ##    ##       ######   
 ##     ## #########    ##       ##    ##       ##       
 ##     ## ##     ##    ##       ##    ##       ##       
 ########  ##     ##    ##       ##    ######## ######## 
 
*/

$button-corner-angle: 10px;