/*
 
 ##          ###    ##    ##  #######  ##     ## ######## 
 ##         ## ##    ##  ##  ##     ## ##     ##    ##    
 ##        ##   ##    ####   ##     ## ##     ##    ##    
 ##       ##     ##    ##    ##     ## ##     ##    ##    
 ##       #########    ##    ##     ## ##     ##    ##    
 ##       ##     ##    ##    ##     ## ##     ##    ##    
 ######## ##     ##    ##     #######   #######     ##    
 
*/
@-webkit-keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -400px -400px;
  }
}
@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -400px -400px;
  }
}

/*
 
 ######## ##    ## ########   #######   ######   ########     ###    ########  ##     ## ##    ## 
    ##     ##  ##  ##     ## ##     ## ##    ##  ##     ##   ## ##   ##     ## ##     ##  ##  ##  
    ##      ####   ##     ## ##     ## ##        ##     ##  ##   ##  ##     ## ##     ##   ####   
    ##       ##    ########  ##     ## ##   #### ########  ##     ## ########  #########    ##    
    ##       ##    ##        ##     ## ##    ##  ##   ##   ######### ##        ##     ##    ##    
    ##       ##    ##        ##     ## ##    ##  ##    ##  ##     ## ##        ##     ##    ##    
    ##       ##    ##         #######   ######   ##     ## ##     ## ##        ##     ##    ##    
 
*/
@font-face {
  font-family: 'pkmn_rbygsc';
  src: url("/assets/fonts/PKMN RBYGSC/pkmn_rbygsc-webfont.woff2") format("woff2"), url("/assets/fonts/PKMN RBYGSC/pkmn_rbygsc-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*
 
 ########     ###    ######## ######## ##       ######## 
 ##     ##   ## ##      ##       ##    ##       ##       
 ##     ##  ##   ##     ##       ##    ##       ##       
 ########  ##     ##    ##       ##    ##       ######   
 ##     ## #########    ##       ##    ##       ##       
 ##     ## ##     ##    ##       ##    ##       ##       
 ########  ##     ##    ##       ##    ######## ######## 
 
*/
body {
  font-family: 'pkmn_rbygsc';
}

/*
 
 ##          ###    ##    ##  #######  ##     ## ######## 
 ##         ## ##    ##  ##  ##     ## ##     ##    ##    
 ##        ##   ##    ####   ##     ## ##     ##    ##    
 ##       ##     ##    ##    ##     ## ##     ##    ##    
 ##       #########    ##    ##     ## ##     ##    ##    
 ##       ##     ##    ##    ##     ## ##     ##    ##    
 ######## ##     ##    ##     #######   #######     ##    
 
*/
#poke-container {
  background-color: #333232;
  background-image: url("https://www.transparenttextures.com/patterns/grid-me.png");
  background-size: 25px;
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

@media screen and (min-width: 992px) {
  #poke-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}

.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border: black 1px solid;
}

@media screen and (min-width: 992px) {
  .columns {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
}

/*
 
  ######  ##     ##    ###    ########    
 ##    ## ##     ##   ## ##      ##       
 ##       ##     ##  ##   ##     ##       
 ##       ######### ##     ##    ##       
 ##       ##     ## #########    ##       
 ##    ## ##     ## ##     ##    ##       
  ######  ##     ## ##     ##    ##       
 
*/
#chat-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  color: white;
}

.chat-row-item {
  margin: 10px;
}

#chat-messages {
  margin-bottom: 0px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  height: 4rem;
  border: 1px black solid;
  background-color: #001321;
}

@media screen and (min-width: 992px) {
  #chat-messages {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

#chat-send-message {
  margin-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

#chat-send-message-text {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

#chat-send-message-button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/*
 
 ########     ###    ######## ######## ##       ######## 
 ##     ##   ## ##      ##       ##    ##       ##       
 ##     ##  ##   ##     ##       ##    ##       ##       
 ########  ##     ##    ##       ##    ##       ######   
 ##     ## #########    ##       ##    ##       ##       
 ##     ## ##     ##    ##       ##    ##       ##       
 ########  ##     ##    ##       ##    ######## ######## 
 
*/
#battle-column {
  background-color: cyan;
  height: 80vh;
}

@media screen and (min-width: 992px) {
  #battle-column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
    max-width: 60%;
    height: auto;
  }
}

#battle-controller {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 70% 30%;
      grid-template-rows: 70% 30%;
}

#battle-scence {
  background-image: url("/assets/img/grass-bg.png");
  background-size: cover;
}

#battle-scence-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.battle-scence-column {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.battle-scence-column-players {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.battle-health-bar {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 auto;
          flex: 3 1 auto;
}

.battle-monster {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.battle-monster-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.battle-monster-sprite {
  width: 100px;
}

@media screen and (min-width: 700px) {
  .battle-monster-sprite {
    width: 200px;
  }
}

#battle-controller-button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.battle-controller-button {
  width: 49%;
  margin: 0.5%;
  border: none;
  background: #e2e2e2;
  background: -webkit-gradient(linear, left bottom, left top, from(#e2e2e2), color-stop(43%, #e2e2e2), color-stop(43%, #eee), color-stop(57%, #eee), color-stop(57%, #fff));
  background: linear-gradient(0deg, #e2e2e2 0%, #e2e2e2 43%, #eee 43%, #eee 57%, #fff 57%);
  -webkit-clip-path: polygon(10px 0, calc(100% - 10px) 0, 100% 10px, 100% calc(100% - 10px), calc(100% - 10px) 100%, 10px 100%, 0 calc(100% - 10px), 0 10px);
          clip-path: polygon(10px 0, calc(100% - 10px) 0, 100% 10px, 100% calc(100% - 10px), calc(100% - 10px) 100%, 10px 100%, 0 calc(100% - 10px), 0 10px);
}

/*
 
  ######  ########    ###    ########  ######  
 ##    ##    ##      ## ##      ##    ##    ## 
 ##          ##     ##   ##     ##    ##       
  ######     ##    ##     ##    ##     ######  
       ##    ##    #########    ##          ## 
 ##    ##    ##    ##     ##    ##    ##    ## 
  ######     ##    ##     ##    ##     ######  
 
*/
#stats-column {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
  background-color: yellow;
}

.stats-block {
  padding: 4px;
}

.stats-table {
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stats-row {
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 120px;
}

/*
 
 #### ##    ## ########  ##     ## ######## 
  ##  ###   ## ##     ## ##     ##    ##    
  ##  ####  ## ##     ## ##     ##    ##    
  ##  ## ## ## ########  ##     ##    ##    
  ##  ##  #### ##        ##     ##    ##    
  ##  ##   ### ##        ##     ##    ##    
 #### ##    ## ##         #######     ##    
 
*/
button {
  border: black 1px solid;
}
/*# sourceMappingURL=styles.css.map */