@import "_variables";

body {
    font-family: "pkmn_rbygsc";
}

/*
 
 ##          ###    ##    ##  #######  ##     ## ######## 
 ##         ## ##    ##  ##  ##     ## ##     ##    ##    
 ##        ##   ##    ####   ##     ## ##     ##    ##    
 ##       ##     ##    ##    ##     ## ##     ##    ##    
 ##       #########    ##    ##     ## ##     ##    ##    
 ##       ##     ##    ##    ##     ## ##     ##    ##    
 ######## ##     ##    ##     #######   #######     ##    
 
*/
#poke-container {
    // Background 1
    // background-color: #333232;
    // background-image: url("https://www.transparenttextures.com/patterns/grid-me.png");
    // background-size: 25px;
    // Background 2
    background-color: #030512;
    background-image: url("https://www.transparenttextures.com/patterns/graphy.png");
    background-size: 48px;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;

    @media screen and (min-width: $desktop-min-width) {
        flex-flow: row wrap;
    }
}

.columns {
    display: flex;
    width: 100%;
    border: black 2px solid;

    @media screen and (min-width: $desktop-min-width) {
        flex: 0 0 $column-width;
        max-width: $column-width;
    }
}

/*
 
  ######  ##     ##    ###    ########    
 ##    ## ##     ##   ## ##      ##       
 ##       ##     ##  ##   ##     ##       
 ##       ######### ##     ##    ##       
 ##       ##     ## #########    ##       
 ##    ## ##     ## ##     ##    ##       
  ######  ##     ## ##     ##    ##       
 
*/
#chat-column {
    // background-color: red;
    flex-flow: column wrap;
    color: white;
}

.chat-row-item {
    margin: 10px;
}

#chat-messages {
    margin-bottom: 0px;
    padding: 5px;
    flex: none;
    height: 4rem;
    border: 1px black solid;
    background-color: #001321;
    @media screen and (min-width: $desktop-min-width) {
        flex: 1;
    }
}

#chat-send-message {
    margin-top: 0px;
    display: flex;
    flex-flow: row wrap;
}

#chat-send-message-input {
    flex: 2;
    border: 0px;
    border-inline-start: black 1px solid;
    border-inline-end: black 1px solid;
    padding-inline-start: 5px;
    padding-inline-end: 1px;
    line-height: $chat-input-line-height;
}

#chat-send-message-button {
    flex: 1;
    color: black;
    @include grey-gradient-button;
    clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - #{$button-corner-angle}),
        calc(100% - #{$button-corner-angle}) 100%,
        0 100%
    );
    line-height: $chat-input-line-height;
}

/*
 
 ########     ###    ######## ######## ##       ######## 
 ##     ##   ## ##      ##       ##    ##       ##       
 ##     ##  ##   ##     ##       ##    ##       ##       
 ########  ##     ##    ##       ##    ##       ######   
 ##     ## #########    ##       ##    ##       ##       
 ##     ## ##     ##    ##       ##    ##       ##       
 ########  ##     ##    ##       ##    ######## ######## 
 
*/
#battle-column {
    height: 80vh;

    @media screen and (min-width: $desktop-min-width) {
        flex: 0 0 $battle-column-width;
        max-width: $battle-column-width;
        height: auto;
    }
}

#battle-controller {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: $battle-controller-scene-height calc(100% - #{$battle-controller-scene-height});
}

// Visuals
#battle-scence {
    // background-image: url("/assets/img/DP_grass.png");
    // background-size: cover;
    background: repeating-linear-gradient(#c0e8e0, #c0e8e0 5px, #d8eee0 5px, #d8eee0 8px);
}

#battle-scence-wrapper {
    height: 100%;
    display: flex;
    flex-flow: column wrap;
}

.battle-scence-column {
    width: 100%;
    flex: 1 1 auto;
}

.battle-scence-column-players {
    flex: 5;
    display: flex;
}

// Health Bar
.battle-health-bar-wrapper {
    flex: 3 1 auto;
}

.battle-health-bounding-box {
    background-color: #ccc;
    height: 20px;
    width: 500px;
    margin: 0 auto;
    border: solid 1px black;
}

.battle-health-bar {
    background-color: #00fd4f;
    width: calc(inherit - 1px);
    height: 18px;
    // position: relative;
    bottom: 56px;
}

// Monster Sprite
.battle-monster {
    flex: 2;
}

.battle-monster-wrapper {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.battle-monster-sprite {
    width: 100px;

    @media screen and (min-width: $tablet-min-width) {
        width: 200px;
    }
}

#pokeball-turn-indicator {
    width: 75px;
    height: 75px;
    margin: auto;
    opacity: 0.9;
}

// Buttons
#battle-controller-button-wrapper {
    display: flex;
    flex-flow: row wrap;
    background-color: #4a4a4a;
    background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre.png");
}

.battle-controller-button {
    @include battle-controller-button-width;
    border: none;
    @include grey-gradient-button;
    clip-path: polygon(
        $button-corner-angle 0,
        calc(100% - #{$button-corner-angle}) 0,
        100% $button-corner-angle,
        100% calc(100% - #{$button-corner-angle}),
        calc(100% - #{$button-corner-angle}) 100%,
        $button-corner-angle 100%,
        0 calc(100% - #{$button-corner-angle}),
        0 $button-corner-angle
    );
}

/*
 
  ######  ########    ###    ########  ######  
 ##    ##    ##      ## ##      ##    ##    ## 
 ##          ##     ##   ##     ##    ##       
  ######     ##    ##     ##    ##     ######  
       ##    ##    #########    ##          ## 
 ##    ##    ##    ##     ##    ##    ##    ## 
  ######     ##    ##     ##    ##     ######  
 
*/
#stats-column {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50% 50%;
    color: white;
}

.stats-block {
    padding: 4px;
}

.stats-heading {
    border: #1fa792 3px solid;
    margin: 0 -6px;
    padding: 4px 5px;
    border-inline: 3px;
    background-color: #001321;
}

#stats-column {
    padding-top: 4px;
}

.stats-table {
    min-height: 78%;
    margin: 0 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: 1px black solid;
    border-top: none;
    background-color: #001321;
}

.stats-row {
    margin: 15px;
    display: flex;
    justify-content: space-evenly;
    width: 120px;
}
