/*
 
 ##          ###    ##    ##  #######  ##     ## ######## 
 ##         ## ##    ##  ##  ##     ## ##     ##    ##    
 ##        ##   ##    ####   ##     ## ##     ##    ##    
 ##       ##     ##    ##    ##     ## ##     ##    ##    
 ##       #########    ##    ##     ## ##     ##    ##    
 ##       ##     ##    ##    ##     ## ##     ##    ##    
 ######## ##     ##    ##     #######   #######     ##    
 
*/
/*
 
 ######## ##    ## ########   #######   ######   ########     ###    ########  ##     ## ##    ## 
    ##     ##  ##  ##     ## ##     ## ##    ##  ##     ##   ## ##   ##     ## ##     ##  ##  ##  
    ##      ####   ##     ## ##     ## ##        ##     ##  ##   ##  ##     ## ##     ##   ####   
    ##       ##    ########  ##     ## ##   #### ########  ##     ## ########  #########    ##    
    ##       ##    ##        ##     ## ##    ##  ##   ##   ######### ##        ##     ##    ##    
    ##       ##    ##        ##     ## ##    ##  ##    ##  ##     ## ##        ##     ##    ##    
    ##       ##    ##         #######   ######   ##     ## ##     ## ##        ##     ##    ##    
 
*/
@font-face {
  font-family: "pkmn_rbygsc";
  src: url("/assets/fonts/PKMN RBYGSC/pkmn_rbygsc-webfont.woff2") format("woff2"), url("/assets/fonts/PKMN RBYGSC/pkmn_rbygsc-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-family: 'pokmon_dp_proregular';
  src: url("/assets/fonts/PKMN DP/pokemon-dp-pro-webfont.woff2") format("woff2"), url("/assets/fonts/PKMN DP/pokemon-dp-pro-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-size: 48;
}

/*
 
 #### ##    ## ########  ##     ## ########  ######  
  ##  ###   ## ##     ## ##     ##    ##    ##    ## 
  ##  ####  ## ##     ## ##     ##    ##    ##       
  ##  ## ## ## ########  ##     ##    ##     ######  
  ##  ##  #### ##        ##     ##    ##          ## 
  ##  ##   ### ##        ##     ##    ##    ##    ## 
 #### ##    ## ##         #######     ##     ######  
 
*/
/*
 
    ###    ##    ## #### ##     ##    ###    ######## ####  #######  ##    ## 
   ## ##   ###   ##  ##  ###   ###   ## ##      ##     ##  ##     ## ###   ## 
  ##   ##  ####  ##  ##  #### ####  ##   ##     ##     ##  ##     ## ####  ## 
 ##     ## ## ## ##  ##  ## ### ## ##     ##    ##     ##  ##     ## ## ## ## 
 ######### ##  ####  ##  ##     ## #########    ##     ##  ##     ## ##  #### 
 ##     ## ##   ###  ##  ##     ## ##     ##    ##     ##  ##     ## ##   ### 
 ##     ## ##    ## #### ##     ## ##     ##    ##    ####  #######  ##    ## 
 
*/
@-webkit-keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 400px;
  }
}
@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 400px;
  }
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'pokmon_dp_proregular';
}

/*
 
 ##          ###    ##    ##  #######  ##     ## ######## 
 ##         ## ##    ##  ##  ##     ## ##     ##    ##    
 ##        ##   ##    ####   ##     ## ##     ##    ##    
 ##       ##     ##    ##    ##     ## ##     ##    ##    
 ##       #########    ##    ##     ## ##     ##    ##    
 ##       ##     ##    ##    ##     ## ##     ##    ##    
 ######## ##     ##    ##     #######   #######     ##    
 
*/
#poke-container {
  background-color: #030512;
  background-image: url("https://www.transparenttextures.com/patterns/graphy.png");
  -webkit-animation: slide 10s linear infinite;
          animation: slide 10s linear infinite;
  -webkit-transition: opacity 3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 3s cubic-bezier(0.165, 0.84, 0.44, 1);
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

@media screen and (min-width: 992px) {
  #poke-container {
    height: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}

.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border: black solid;
  border-width: 2px 0;
}

@media screen and (min-width: 992px) {
  .columns {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
    border-width: 0 2px;
  }
}

/*
 
 ##        #######   ######   #### ##    ## 
 ##       ##     ## ##    ##   ##  ###   ## 
 ##       ##     ## ##         ##  ####  ## 
 ##       ##     ## ##   ####  ##  ## ## ## 
 ##       ##     ## ##    ##   ##  ##  #### 
 ##       ##     ## ##    ##   ##  ##   ### 
 ########  #######   ######   #### ##    ## 
 
*/
#login-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  background-color: #030512;
  opacity: 1;
  background-image: url("https://www.transparenttextures.com/patterns/graphy.png");
  -webkit-animation: slide 10s linear infinite;
          animation: slide 10s linear infinite;
  -webkit-transition: opacity 2.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 2.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#login-menu-modal {
  background-color: lightgreen;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  height: 75%;
}

#login-menu-submit {
  border: 2px black solid;
  padding: 5px;
}

/*
 
  ######  ##     ##    ###    ########    
 ##    ## ##     ##   ## ##      ##       
 ##       ##     ##  ##   ##     ##       
 ##       ######### ##     ##    ##       
 ##       ##     ## #########    ##       
 ##    ## ##     ## ##     ##    ##       
  ######  ##     ## ##     ##    ##       
 
*/
#chat-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  color: white;
  padding: 10px;
}

@media screen and (min-width: 992px) {
  #chat-column {
    height: 100%;
  }
}

#room-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chat-row-item {
  margin: 5px 0;
}

#chat-messages {
  margin-bottom: 0px;
  padding: 5px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  height: 10rem;
  border: 1px black solid;
  border-right: none;
  background-color: #001321;
  width: 100%;
  overflow: auto;
}

@media screen and (min-width: 992px) {
  #chat-messages {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 100%;
    height: 4rem;
  }
}

.chat-send-messages {
  margin: 6px 0;
  overflow-wrap: break-word;
}

#chat-send-message {
  margin-top: 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

#chat-send-message-input {
  -webkit-box-flex: 2;
      -ms-flex: 2 1;
          flex: 2 1;
  border: 0px;
  -webkit-border-start: black 1px solid;
          border-inline-start: black 1px solid;
  -webkit-border-end: black 1px solid;
          border-inline-end: black 1px solid;
  -webkit-padding-start: 5px;
          padding-inline-start: 5px;
  -webkit-padding-end: 1px;
          padding-inline-end: 1px;
  line-height: 1.5;
  min-width: 10px;
}

#chat-send-message-button {
  -webkit-box-flex: 1;
      -ms-flex: 1 2;
          flex: 1 2;
  color: black;
  background: #e2e2e2;
  background: -webkit-gradient(linear, left bottom, left top, from(#e2e2e2), color-stop(43%, #e2e2e2), color-stop(43%, #eee), color-stop(57%, #eee), color-stop(57%, #fff));
  background: linear-gradient(0deg, #e2e2e2 0%, #e2e2e2 43%, #eee 43%, #eee 57%, #fff 57%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
  line-height: 1.5;
}

/*
 
 ########     ###    ######## ######## ##       ######## 
 ##     ##   ## ##      ##       ##    ##       ##       
 ##     ##  ##   ##     ##       ##    ##       ##       
 ########  ##     ##    ##       ##    ##       ######   
 ##     ## #########    ##       ##    ##       ##       
 ##     ## ##     ##    ##       ##    ##       ##       
 ########  ##     ##    ##       ##    ######## ######## 
 
*/
#battle-column {
  height: 80vh;
}

@media screen and (min-width: 992px) {
  #battle-column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
    max-width: 60%;
    height: auto;
  }
}

#battle-controller {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 68% calc(100% - 68%);
      grid-template-rows: 68% calc(100% - 68%);
}

#battle-scence {
  background: repeating-linear-gradient(#c0e8e0, #c0e8e0 5px, #d8eee0 5px, #d8eee0 8px);
}

#battle-scence-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.battle-scence-column {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.battle-scence-column-players {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.battle-health-bar-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media screen and (min-width: 992px) {
  .battle-health-bar-wrapper {
    -webkit-box-flex: 2;
        -ms-flex: 2 1 auto;
            flex: 2 1 auto;
  }
}

.battle-health-bounding-box {
  background-color: #ccc;
  height: 12px;
  width: 155px;
  border: solid 2px black;
  border-radius: 15px;
}

@media screen and (min-width: 700px) {
  .battle-health-bounding-box {
    width: 275px;
  }
}

.battle-health-bar {
  background-color: #00fd4f;
  width: 100%;
  height: calc(12px - 4px);
  border-radius: 15px;
}

.battle-monster {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.battle-monster-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.battle-monster-sprite {
  width: 125px;
}

@media screen and (min-width: 700px) {
  .battle-monster-sprite {
    width: 200px;
  }
}

@media screen and (min-width: 992px) {
  .battle-monster-sprite {
    width: 250px;
  }
}

#pokeball-turn-indicator {
  width: 75px;
  height: 75px;
  margin: auto;
  opacity: 0.9;
}

#battle-controller-button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  background-color: #4a4a4a;
  background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre.png");
  border-top: black calc(2px * 2) solid;
}

.battle-controller-button {
  width: 48%;
  margin: calc((50% - 48%) / 2);
  border: none;
  background: #e2e2e2;
  background: -webkit-gradient(linear, left bottom, left top, from(#e2e2e2), color-stop(43%, #e2e2e2), color-stop(43%, #eee), color-stop(57%, #eee), color-stop(57%, #fff));
  background: linear-gradient(0deg, #e2e2e2 0%, #e2e2e2 43%, #eee 43%, #eee 57%, #fff 57%);
  -webkit-clip-path: polygon(15px 0, calc(100% - 15px) 0, 100% 15px, 100% calc(100% - 15px), calc(100% - 15px) 100%, 15px 100%, 0 calc(100% - 15px), 0 15px);
          clip-path: polygon(15px 0, calc(100% - 15px) 0, 100% 15px, 100% calc(100% - 15px), calc(100% - 15px) 100%, 15px 100%, 0 calc(100% - 15px), 0 15px);
}

.battle-controller-button:disabled,
.battle-controller-button [disabled] {
  opacity: 0.6;
  cursor: default;
}

/*
 
  ######  ########    ###    ########  ######  
 ##    ##    ##      ## ##      ##    ##    ## 
 ##          ##     ##   ##     ##    ##       
  ######     ##    ##     ##    ##     ######  
       ##    ##    #########    ##          ## 
 ##    ##    ##    ##     ##    ##    ##    ## 
  ######     ##    ##     ##    ##     ######  
 
*/
#stats-column {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
  color: white;
}

.stats-block {
  padding: 4px;
  margin-bottom: 20px;
}

@media screen and (min-width: 992px) {
  .stats-block {
    margin-bottom: 0;
  }
}

.stats-heading {
  border: #1fa792 3px solid;
  margin: 0 -6px;
  padding: 4px 5px;
  border-inline: 3px;
  background-color: #001321;
}

#stats-column {
  padding-top: 4px;
}

.stats-table {
  min-height: 78%;
  margin: 15px 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-clip-path: polygon(15px 0, calc(100% - 15px) 0, 100% 15px, 100% calc(100% - 15px), calc(100% - 15px) 100%, 15px 100%, 0 calc(100% - 15px), 0 15px);
          clip-path: polygon(15px 0, calc(100% - 15px) 0, 100% 15px, 100% calc(100% - 15px), calc(100% - 15px) 100%, 15px 100%, 0 calc(100% - 15px), 0 15px);
  background: rgba(8, 72, 112, 0.6);
  background: linear-gradient(132deg, rgba(16, 112, 160, 0.7) 0%, rgba(16, 112, 160, 0.7) 25%, rgba(0, 39, 68, 0.7) 26%, rgba(0, 39, 68, 0.7) 74%, rgba(16, 112, 160, 0.7) 75%, rgba(16, 112, 160, 0.7) 100%);
  font-size: 1.25rem;
}

.stats-row {
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 120px;
}
/*# sourceMappingURL=styles.css.map */